.movies-container {
	padding: 20px 30px;
	margin-left: 260px;
	margin-top: 68px;
}

.badge {
	font-size: 15px;
	font-family: "Open Sans", sans-serif;
	margin-right: 10px;
	margin-top: 10px;
	cursor: pointer;
	background-color: var(--nav-item-select);
}

.badge-selected {
	background-color: var(--purple);
}
