.movie-filter-container {
	background-color: var(--filter-background);
	width: 300px;
	height: 100%;
	margin-top: 55px;
	transition: 0.2s ease-out;
	z-index: 1;
}

.hide {
	margin-left: -300px;
}

.title {
	font-weight: 600;
	letter-spacing: 1.2px;
	margin: 15px;
}

.section-title {
	font-weight: 400;
	letter-spacing: 1.2px;
	font-size: 13px;
	margin: 35px 0px 10px 15px;
}

.generes-list {
	list-style: none;
	padding: 0;
	font-weight: 200;
}

.item {
	padding: 5px 0px 5px 15px;
	width: 100%;
	transition: 0.5 ease;
	cursor: pointer;
}

.item:hover {
	background-color: var(--item-select);
}

.selected {
	background-color: var(--item-select);
}

.check {
	float: right;
	margin-right: 10px;
}

.rating-subsection {
	margin: 0 15px;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	font-weight: 200;
}

.form-range {
	padding: 0 15px;
}

.form-range::-webkit-slider-thumb {
	background-color: var(--purple);
}

.form-range::-webkit-slider-runnable-track {
	background-color: var(--nav-item-select);
	height: 5px;
}

.filter-apply-container {
	display: flex;
	flex-direction: column;
	padding: 15px;
}

.btn {
	margin-top: 10px;
	color: white;
}

.btn-save {
	background-color: var(--purple);
}

.save {
	display: none;
}

@media only screen and (max-width: 750px) {
	.movie-filter-container {
		padding-bottom: 50px;
	}

	.save {
		display: block;
	}
}
