.movie-search-form {
	background-color: var(--search-bar);
	display: flex;
	position: fixed;
	align-items: center;
	height: 55px;
	width: 100%;
	z-index: 2;
	overflow: hidden;
}

.form {
	width: 80%;
}

.user-container {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-image {
	padding: 3px 15px;
	font-weight: 400;
	background-color: var(--purple);
	border-radius: 20px;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.7s ease;
	cursor: pointer;
}

.profile-image:hover {
	background-color: rgba(100, 43, 192, 1);
}
.movie-search-bar {
	background-color: var(--search-bar);
	border: none;
	outline: none;
	width: 100%;
	color: white;
	font-size: 20px;
	padding: 0 25px;
	font-family: "Open Sans", sans-serif;
}

@media only screen and (max-width: 750px) {
	.sign-in {
		display: none;
	}
}
