:root {
	--nav-bar: #151c29;
	--nav-item-select: #435572;
	--search-bar: #0f1828;
	--background: #182130;
	--filter-background: #232c3b;
	--purple: #4e30d6;
	--yellow: #fff200;
	--item-select: #2c3543;
}

/* Druddigon
   Flaffy */
